@import "../../.cache/wal/colors-waybar.css";
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #09080e;
    color: #beb2b9;
}

#window {
    font-family: "JetBrainsMono Nerd Font Mono";
    margin-top: 5px;
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: #09080e;
    color: #beb2b9;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #beb2b9;
    border-top: 2px solid #beb2b9;
}

#tray, #custom-japan, #temperature, #clock, #battery, #cpu, #memory, #network, #pulseaudio {
    padding: 0 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#temperature.critical {
    color: red;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #2f2b4f;
}
